<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeffrey.retalk.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.jeffrey.retalk.entity.Article" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <collection property="tags" ofType="com.jeffrey.retalk.entity.Tag" >
      <result property="id" column="tag_id" javaType="long" jdbcType="INTEGER"/>
      <result property="name" column="tag_name" javaType="string" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jeffrey.retalk.entity.Article" extends="BaseResultMap" >
    <result column="body" property="body" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, created_time, modified_time, user_name
  </sql>

  <sql id="Blob_Column_List" >
    body
  </sql>

  <select id="countByUserName" resultType="java.lang.Long" parameterType="java.lang.String">
    select count(id)
    FROM article
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="queryByUserName"  resultMap="BaseResultMap">
    select
    a.*,c.id tag_id,c.name tag_name
    FROM article a
    LEFT JOIN
    article_tag b
    on a.id = b.article_id
    LEFT JOIN
    tag c
    on
    c.id = b.tag_id
    where
    a.user_name = #{userName,jdbcType=VARCHAR}
    limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long"  >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from article
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jeffrey.retalk.entity.Article" keyProperty="id">
    insert into article (title, created_time,
      modified_time, user_name, body
      )
    values (#{title,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP},
      #{modifiedTime,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR}, #{body,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jeffrey.retalk.entity.Article" keyProperty="id">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="body != null" >
        body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        #{body,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jeffrey.retalk.entity.Article" >
    update article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jeffrey.retalk.entity.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      user_name = #{userName,jdbcType=VARCHAR},
      body = #{body,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jeffrey.retalk.entity.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      user_name = #{userName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>